.address {
  margin: 0 auto;
  position: relative;
  background-color: $basic-grey;
}

.address__title {
  @include oswald-normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
    display: inline-block;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 23px;
    display: inline-block;
    padding-top: 0;
  }
}

.address__text {
  @include arial-normal;
  color: $special-dark-grey;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding-right: 5px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }

  &--city {
    @media (min-width: $tablet-width) {
      margin-top: 22px;
      display: inline-block;
    }

    @media (min-width: $desktop-width) {
      text-align: start;
    }
  }
}

.address__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 59px 41px 57px 42px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: $basic-white;
    width: 570px;
    height: 201px;
    padding-left: 76px;
    padding-right: 85px;
    padding-top: 69px;
  }
}
