.address {
  margin: 0 auto;

  &__title {
    @include oswald-normal;
    font-size: 16px;
    line-height: 18px;
  }

  &__text {
    @include arial-normal;
    color: $special-dark-grey;
    font-size: 14px;
    line-height: 20px;
  }
}
