.button {
  @include oswald-normal;
  min-height: 40px;
  background-color: $basic-green;
  color: $basic-white;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}
