.credits {
  border-bottom: 1px solid $border-grey-2;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
  }
}

.credits__logo-link {
  display: inline-block;
  text-align: center;
  margin-top: 10px;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 28px;
  }
}
