.form__block-title {
  @include oswald-normal;
  font-size: 24px;
  line-height: 26px;
}

// Text fields
.field-text__label {
  @include oswald-normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;
}

.field-text__input {
  border: 1px solid $border-grey;
  width: auto;

  &::placeholder {
    @include oswald-normal;
    font-size: 16px;
    line-height: 18px;
    color: $special-dark-grey;
    text-transform: uppercase;
  }
}

// Radio fields
.field-radio__label {
  @include oswald-normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey-2;
}

// Checkbox fields
.field-checkbox__label {
  @include oswald-normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

// Form submit
.form__submit-legend {
  @include arial-normal;
  font-size: 14px;
  line-height: 16px;
}
