.live-example {
  background-color: $darken-grey;
}

.live-example__title {
  @include oswald-normal;
  font-size: 36px;
  line-height: 40px;
}

.live-example__text {
  @include arial-normal;
  color: $special_dark-grey;
  font-size: 14px;
  line-height: 18px;
}

.live-example__result {
  @include oswald-normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
