.main-nav {
  background-color: $basic-white;
}

.main-nav__list {
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__link {
  text-decoration: none;
  color: $basic-black;
}
