.main-nav {
  background-color: $basic-white;
}

.main-nav__list {
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 440px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 479.5px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link {
  text-decoration: none;
  color: $basic-black;
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
