.map {
  height: 362px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    height: 400px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}
