.page-header__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 62px;
  }
}

.page-header__logo-block {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-block--mobile {
  box-sizing: border-box;
  height: 66px;
  width: 190px;
  align-items: center;
  display: none;

  @media (max-width: $mobile-width-only) {
    display: flex;
  }
}

.page-header__logo-block--tablet {
  display: none;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    display: block;
  }
}

.page-header__logo-block--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-header__logo-text-link {
  margin-left: 55px;

  @media (min-width: $tablet-width) {
    margin-left: 12px;
  }
}

.page-header__logo-text {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}
