.page-header {
  background-color: $basic-white;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 92.3%;
  }
}

.page-header__logo-block {
  height: 66px;

  @media (min-width: $tablet-width) {
    height: 51px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}
