.page-header__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 50px;
  }
}

.page-header__logo-block {
  display: flex;
  padding-bottom: 10px;
  padding-top: 6px;
  box-sizing: border-box;
  align-items: center;
}

.page-header__logo-img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
