.range-slider {
  margin-top: 12px;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    appearance: none;
    width: 428px;
    height: 6px;
    background: $extra-darken-grey;
    border-radius: 6px;
    outline-style: none;
    margin-top: 15px;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 34px;
    height: 34px;
    background-image: url("../../img/slider-control.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 34px;
    height: 34px;
    background-image: url("../../img/slider-control.svg");
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.range-slider__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    bottom: 91px;
    width: 570px;
    left: -23px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.range-slider__label {
  @include oswald-normal;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
