.slider {
  &__toggle {
    @include oswald-normal;
    font-size: 16px;
    line-height: 20px;
    border: none;
    cursor: pointer;
  }

  &__slide {
    display: none;

    &--active {
      display: block;
    }
  }
}
