.stats {
  background-color: $darken-grey;

  @media (min-width: $tablet-width) {
    max-width: 366px;
  }
}

.stats__weight,
.stats__time {
  @include oswald-normal;
  font-size: 24px;
  line-height: 24px;
}

.stats__weight-description,
.stats__time-description {
  @include arial-normal;
  color: $special_dark-grey;
  font-size: 12px;
  line-height: 12px;
  margin: 0 auto;


  @media (max-width: $mobile-width-only) {
    width: 87px;
  }
}
