.field-text {
  display: flex;
  align-items: baseline;
}

.field-text__label {
  @include oswald-normal;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29.64px;
  }
}

.field-text__input {
  border: 1px solid $border-grey;
  width: 100%;
  padding: 13px 15px;
  margin-bottom: 20px;

  &::placeholder {
    @include oswald-normal;
    font-size: 16px;
    line-height: 18px;
    color: $special-dark-grey;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 29.64px;
    }
  }
}
